@page "/repository"

@using System.Text.Json

<MudText Typo="Typo.caption" Style="color: #333; font-weight: 500;">
    Azure bicep registry module details
</MudText>
<MudGrid>
    <MudItem xs="12">
        <MudPaper Elevation="25" Class="d-flex flex-row">
            <div>
                <MudCard Elevation="0">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">
                                <MudIcon Icon="@Icons.Material.Outlined.Assignment" Style="color: #4A90E2;" />
                                Repository Attributes
                            </MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent Class="pl-10">
                        <MudGrid>
                            <MudItem xs="6">
                                <MudTextField Label="Name" Value="@RepositoryInstance?.Name" ReadOnly="true" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField Label="Registry Login Server" Value="@RepositoryInstance?.RegistryLoginServer" ReadOnly="true" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField Label="Updated On" Value="@RepositoryInstance?.ModifiedDate" ReadOnly="true" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField Label="Created On" Value="@RepositoryInstance?.CreatedDate" ReadOnly="true" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField Label="Manifest Count" Value="@RepositoryInstance?.ManifestCount" ReadOnly="true" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField Label="Tag Count" Value="@RepositoryInstance?.TagCount" ReadOnly="true" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Elevation="25" Class="d-flex flex-row">
            <div style="width:100%;">
                <MudCard Elevation="0"> 
                    <MudCardContent Class="p-0">
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            <MudTabPanel Text="Manifest">
                                <MudText xs="12">
                                    <pre>
                                        @(JsonSerializer.Serialize(RepositoryInstance?.Manifest, new JsonSerializerOptions() { WriteIndented = true }))
                                </pre>
                                </MudText>
                            </MudTabPanel>
                        </MudTabs>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>