@page "/login"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<MudContainer MaxWidth="MaxWidth.False" Class="p-0" Style="height: 105vh;">
    <MudGrid Class="h-100">
        <!-- Left Panel -->
        <MudItem xs="12" md="5" Class="d-flex align-center justify-center" Style="background: linear-gradient(to bottom right, #0f2c4d, #0a3e68); color: white;">
            <div style="text-align: center;">
                <img src="arinco-logo.svg" alt="ARINCO Bicep Hub" style="width: 50px;" />
                <h2 style="margin-top: 16px;">ARINCO Bicep Hub</h2>
            </div>
        </MudItem>

        <!-- Right Panel / Login Form -->
        <MudItem xs="12" md="7" Class="d-flex align-center justify-center">
            <MudPaper Elevation="0" Class="pa-6" Style="width: 100%; max-width: 400px;">
                <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">
                    Welcome
                </MudText>
                <MudText Typo="Typo.body1" Align="Align.Center" Color="Color.Default" GutterBottom="true">
                    @if (isAuthenticated)
                    {
                        <span>You are signed in as @userName</span>
                    }
                    else
                    {
                        <span>Sign in to access your account</span>
                    }
                </MudText>
                <AuthorizeView>
                    <Authorized>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Size="Size.Large"
                                   FullWidth="true"
                                   StartIcon="@Icons.Material.Filled.Logout"
                                   OnClick="Logout">
                            Logout
                        </MudButton>
                    </Authorized>
                    <NotAuthorized>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Size="Size.Large"
                                   FullWidth="true"
                                   StartIcon="@Icons.Material.Filled.Login"
                                   OnClick="SignIn">
                            Sign in with Microsoft
                        </MudButton>
                    </NotAuthorized>
                </AuthorizeView>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>