@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization

<MudThemeProvider Theme="CurrentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<AuthorizeView>
    <NotAuthorized>
        <MudLayout Style="height: 100vh;  margin: 0; padding: 0;">
            <MudMainContent Class="h-100" Style="margin: 0; padding: 0;">
                @Body
            </MudMainContent> 
        </MudLayout>
    </NotAuthorized>
    <Authorized>
        <MudLayout Style="height: 100vh; margin: 0; padding: 0;">
            <AppBar @bind-CurrentTheme="CurrentTheme" @bind-IsDrawOpen="_drawerOpen" />
            <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Docked">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.False" Class="mt-4 h-100">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
</AuthorizeView>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>